<!-- Footer -->
<footer id="footer">
	<div class="container">
		<section class="links">
			<div class="row">
				<section class="3u 6u(medium) 12u$(small)">
					<h3>Lorem ipsum dolor</h3>
					<ul class="unstyled">
						<li><a href="#">Lorem ipsum dolor sit</a></li>
						<li><a href="#">Nesciunt itaque, alias possimus</a></li>
						<li><a href="#">Optio rerum beatae autem</a></li>
						<li><a href="#">Nostrum nemo dolorum facilis</a></li>
						<li><a href="#">Quo fugit dolor totam</a></li>
					</ul>
				</section>
				<section class="3u 6u$(medium) 12u$(small)">
					<h3>Culpa quia, nesciunt</h3>
					<ul class="unstyled">
						<li><a href="#">Lorem ipsum dolor sit</a></li>
						<li><a href="#">Reiciendis dicta laboriosam enim</a></li>
						<li><a href="#">Corporis, non aut rerum</a></li>
						<li><a href="#">Laboriosam nulla voluptas, harum</a></li>
						<li><a href="#">Facere eligendi, inventore dolor</a></li>
					</ul>
				</section>
				<section class="3u 6u(medium) 12u$(small)">
					<h3>Neque, dolore, facere</h3>
					<ul class="unstyled">
						<li><a href="#">Lorem ipsum dolor sit</a></li>
						<li><a href="#">Distinctio, inventore quidem nesciunt</a></li>
						<li><a href="#">Explicabo inventore itaque autem</a></li>
						<li><a href="#">Aperiam harum, sint quibusdam</a></li>
						<li><a href="#">Labore excepturi assumenda</a></li>
					</ul>
				</section>
				<section class="3u$ 6u$(medium) 12u$(small)">
					<h3>Illum, tempori, saepe</h3>
					<ul class="unstyled">
						<li><a href="#">Lorem ipsum dolor sit</a></li>
						<li><a href="#">Recusandae, culpa necessita nam</a></li>
						<li><a href="#">Cupiditate, debitis adipisci blandi</a></li>
						<li><a href="#">Tempore nam, enim quia</a></li>
						<li><a href="#">Explicabo molestiae dolor labore</a></li>
					</ul>
				</section>
			</div>
		</section>
		<div class="row">
			<div class="8u 12u$(medium)">
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li>
					<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					<li>Jekyll Template: <a href="http://saiashirwad.com">Sai Ashirwad Informatia</a></li>
				</ul>
			</div>
			<div class="4u$ 12u$(medium)">
				<ul class="icons">
					{% if site.social_links.facebook_url and site.social_links.facebook_url != 'FACEBOOK_URL' %}
					<li>
						<a href="{{ site.social_links.facebook_url }}"
						class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
					</li>
					{% endif %}
					{% if site.social_links.twitter_url and site.social_links.twitter_url != 'TWITTER_URL' %}
					<li>
						<a href="{{ site.social_links.twitter_url }}" class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
					</li>
					{% endif %}
					{% if site.social_links.googleplus_url and site.social_links.googleplus_url != 'GPLUS_URL' %}
					<li>
						<a href="{{ site.social_links.googleplus_url }}" class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
					</li>
					{% endif %}
					{% if site.social_links.linkedin_url and site.social_links.linkedin_url != 'LINKEDIN_URL' %}
					<li>
						<a href="{{ site.social_links.linkedin_url }}" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</footer>
