<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/bower_components/transit/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/bower_components/transit/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/bower_components/transit/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/bower_components/transit/js/init.js"></script>
		
			<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/transit/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/transit/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/transit/css/style-xlarge.css" />
		