<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="container">
		<header class="major">
			<h2>Consectetur adipisicing elit</h2>
			<p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>
		</header>
		<div class="row 150%">
			{% for service in site.services limit:3 %}
			<div class="4u 12u$(medium)">
				<section class="box">
					<i class="icon big rounded {% if service.icon_color %}
					{{ service.icon_color }}
					{% else %} color1
					{% endif %} 
					{{ service.icon }}"></i>
					<h3>{{ service.title }}</h3>
					<p>{{ service.short_description }}</p>
				</section>
			</div>
			{% endfor %}
		</div>
	</div>
</section>