<!-- Two -->
<section id="two" class="wrapper style2 special">
	<div class="container">
		<header class="major">
			<h2>Lorem ipsum dolor sit</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.</p>
		</header>
		<section class="profiles">
			<div class="row">
				{% for member in site.team %}
				{% if member.front_display %}
				<section class="3u 6u(medium) 12u$(xsmall) profile">
					<img src="{{ site.baseurl }}/{{ member.image }}" alt="" />
					<h4>{{ member.title }}</h4>
					<p>{{ member.title }}</p>
				</section>
				{% endif%}
				{% endfor %}
			</div>
		</section>
		<footer>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolore illum, temporibus veritatis eligendi, aliquam, dolor enim itaque veniam aut eaque sequi qui quia vitae pariatur repudiandae ab dignissimos ex!</p>
			<ul class="actions">
				<li>
					<a href="#" class="button big">Lorem ipsum dolor sit</a>
				</li>
			</ul>
		</footer>
	</div>
</section>