<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
	{% include head.html %}
	</head>
	<body class="landing">
		{% include header.html %}
		{{ content }}
		{% include contact.html %}
		{% include footer.html %}
	</body>
</html>