---
layout: default
---
<!-- Main -->
<section id="main" class="wrapper">
	<div class="container">

		<header class="major">
			<h2>{{ page.title }}</h2>
			{% if page.short_description %}
				<p>{{ page.short_description }}</p>
			{% endif %}
		</header>
		{% if page.image %}
			<a href="#" class="image fit"><img src="{{ site.baseurl }}/{{ page.image_path }}" alt="" /></a>
		{% endif %}
		{{ content }}
	</div>
</section>